@font-face {
  font-family: "Princess Sofia";
  src: url("./assets/fonts/PrincessSofia.woff2") format("woff2"),
    url("./assets/fonts/PrincessSofia.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.bg-brown {
  background-color: #896e6e;
}

.text {
  color: white;
  font-family: "Princess Sofia", cursive;
  font-size: 40px;
  margin-left: 30px;
}

.ciamis {
  color: #8ed6db;
}

.subtext {
  color: white;
  margin-left: 12px;
}

.logo {
  font-family: "Cursive", sans-serif;
  color: #8ed6db;
}

.tagline {
  color: #8ed6db;
}

.nav-item {
  font-size: 20px;
}

.nav-link {
  color: white;
  margin: 0 50px;
  text-decoration: none;
  font-size: 20px;
}

.nav-link:hover {
  color: #8ed6db;
}

.nav-link.active {
  background-color: #896e6e;
  color: #8ed6db !important;
}

/* Warna garis-garis toggle jadi putih */
.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
